<div class="row">
  <div class="col-sm-9">
    <%= render 'layouts/messages' %>
  </div>
</div>

<% if @stock %>
  <div class="card card-header bg-info">
    <div class="row">
      <div class="col-sm-3">
        <strong>TICKER</strong>
      </div>
      <div class="col-sm-6">
      <strong>NAME</strong>
      </div>
      <div class="col-sm-3">
      <strong>PRICE</strong>
      </div>
    </div>
  </div>

  <div class="card card-body">
    <div class="row">
      <div class="col-sm-3">
        <%= @stock.ticker %>
      </div>
      <div class="col-sm-6">
        <%= @stock.name %>
      </div>
      <div class="col-sm-3">
        $<%= @stock.last_price %>
      </div>
    </div>
  </div>
<% end %>